.question-container {
  margin: 1rem 0;
}

.question-text {
  margin-bottom: 1.5rem; /* Espace entre la question et le champ */
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--mat-primary-color);
}

.answer-field {
  width: 100%;
  margin-top: 0.5rem;
}
